@charset "utf-8";
/*CSS Document for About styling*/


#missingTheme {
    --bgColor: LavenderBlush;
    --detailColor1: var(--sky);
    --detailColor2: var(--purple);
    --emphasisColor: var(--red);

    --navColor: var(--purple);
    --hoverNavColor: var(--navColor);
}

    #missingBody{
        height: 100%;
        box-shadow: none;
    }

        #missingHeader {
            -ms-transform: rotate(17deg); /* IE 9 */
            -webkit-transform: rotate(17deg); /* Chrome, Safari, Opera */
            transform: rotate(17deg);

            display: none;
        }

        #missingFlex {
            height: 100%;
            width: 75%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

            #missingFlex > * {
                margin: 3% 0;
            }

            #missingFlex h3 {
                color: var(--emphasisColor);
                text-align: center;
            }

            #lostLogo {
                background-image: url("../img/joshric_logoSurprised.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                max-width: 500px;
                min-width: 100px;
                height: 30%;
                max-height: 800px;
                min-height: 100px;
                background-position: center;
            }

            #missingFlex a {}

            #missingFlex a button {
                border: 3px solid var(--detailColor2);
                letter-spacing: 1px;
                font-size: 16px;
                /*text-transform: uppercase;*/
            }

            #missingFlex a button:hover {
                box-shadow: 10px 10px 10px var(--detailColor1);
                border: 3px solid var(--emphasisColor);

                transition: all 0.5s ease;
                --bounceDist: -3px;
                animation: bounce 1s;
                animation-fill-mode: forwards;
            }
