@charset "utf-8";
/*CSS Document for About styling*/


#aboutTheme {
    --bg: var(--lemon);
    --side: var(--salmon);
    --hero: var(--wine);
    --foil: var(--lake);
    --villain: var(--ocean);

    --navColor: var(--honey);
    --hoverNavColor: var(--navColor);
}


    #introduction {
        width: 85%;
        padding: 50px 25px 0 25px ;

        display: flex;a
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }


        #circleWords {
            width: 30%;
            max-width: 400px;
            min-width: 250px;
            margin: 25px;
            /*background-color: rgba( 100, 100, 100, 0.5);*/
            background-image: url('../img/joshric_logoWords_17Sep18.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            animation: spin 6s linear infinite;

        }

        /*KEEPS #circleLogo in 1:1 aspect ratio while allowing max and min width*/
        #circleWords::before {
            content: '';
            padding: 50% 0;
            display: inline-block;
        }

            #circleLogo {
                background-image: url('../img/joshric_logoFace_17Sep18.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 50%;
                margin: 35px;
                /*height: auto;*/
                animation: spin 6s linear infinite;
                animation-direction: reverse;
            }

            #circleLogo::before {
                content: '';
                padding: 50% 0;
                display: inline-block;
            }

        #aboutMe {
            color: var(--villain);

            padding: 7% 5% 7% 5%;
            max-width: 900px;
            font-size: 24px;
        }
            #aboutDesc {
                color: var(--hero);
                font-size: 16px;
            }

    #contactButt {
        background-color: var(--bg);
        /*border: 3px solid var(--detailColor2);*/
        border-color: var(--side);
        box-shadow: 0px 0px 0px var(--side);
        transition: box-shadow 0.5s ease;
        margin: 45px auto;
    }

    #contactButt:hover {
        box-shadow: 10px 10px 10px var(--side);
        border-color: var(--villain);
        color: var(--villain);
        transition: all 0.5s ease;
        --bounceDist: -3px;
        animation: bounce 1s;
        animation-fill-mode: forwards;
    }

    #intIntro {
        color: var(--villain);
        margin-top: 25vh;
        margin: 25vh 5vw 3vh 5vw;
        text-align: center;
        text-transform: initial;
    }

    #interestFlex {
        /*background-color: green;*/
        padding: 0 0 5% 0;
        width: 85%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;

    }

        .intFlexChild {
            /*background-color: orange;*/
            margin: 5%;
        }

            .intTitle {
                color: var(--villain);
            }

            .intList {
                list-style: none;
                padding-left: 0;

            }

                .intList li {
                    font-family: "Nunito", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    line-height: 32px;
                    color: var(--side);
                }

    #contactWrapper {
        width: 75%;
        max-width: 675px;
        margin-bottom: 50px;
        /*border: solid 5px var(--hero);*/
        background-color: var(--foil);
        opacity: 0;
        transition: opacity 2s ease;
        box-shadow: 20px 20px 25px var(--side);
        display: none;
    }

        #contactDesc {
            padding: 25px 45px;
            margin: 0;
            color: var(--bg);
            /*border-bottom: solid 5px var(--hero);*/
        }

        #contactInfo {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            align-content: center;
        }

            #contactImp {
                height: 100%;
                width: 50%;
                /*border-right: solid 5px var(--hero);*/
                /*border-bottom: solid 5px var(--hero);*/
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: center;

                padding: 40px 45px;
                flex-grow: 2;
                /*margin-right:-5px;*/
                margin-bottom: -5px;

                background-color: var(--bg);
                border: 5px solid var(--foil);
            }

                #mailSymbol {
                    width: 25%;
                    max-width: 100px;
                    min-width: 50px;
                    height: auto;
                    background-image: url("../img/mailicon_17Oct14.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 3% 5%;

                }

                #mailSymbol::before {
                    content: '';
                    padding: 50% 0;
                    display: inline-block;
                }

                #emailPrompt {
                    padding: 3%;
                    width: 60%;
                    flex-grow: 2;
                    /*background-color: purple;*/
                }

                    #emailPrompt h4 {
                        color: var(--villain);
                        /*border-right: solid 5px var(--detailColor2);*/
                        height: 80%;
                        width: 100%;
                        /*padding: 3% 5% 0 5%;
                        margin: auto;*/
                        margin: 15px 0;
                        /*background-color: green;*/
                        text-align: center;
                    }

                    #emailPrompt a {
                        text-align: center;
                        display: block;
                        height: 20%;
                        width: 100%;
                        margin: auto;

                        opacity: .75;
                        transition: opacity 0.5s easel;
                    }

                    #emailPrompt a:hover {
                        opacity: 1;
                        transition: opacity 0.5s easel;
                    }

            #contactExtra {
                padding: 30px 45px;
                display: none;
            }

                #contactExtra ul {
                    list-style: none;
                    padding: 0;

                    font-family: "Nunito", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 32px;
                    color: var(--side);

                }

                    #contactExtra ul li {
                        padding: 5px;
                        display: inline-block;
                    }
