@charset "utf-8";
/*CSS Document for Portfolio styling*/

#indexTheme {
    --bg: var(--ribbon);
    --side: var(--rose);
    --hero: var(--salmon);
    --foil: var(--sky);
    --villain: var(--abyss);

    --navColor: var(--salmon);           /*Change on click in jquery */
    --hoverNavColor: var(--navColor); /*Change on hover in jquery*/
}

#portfolioFill {
    padding: 73px 0 0 0;
}

    .carousel {
        width: 100%;
        height: 75vh;
        margin-bottom: 20vh;
    }

        .carouselSlide {
            width: 100vw;
            height: 75vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: var(--bg);
            background-blend-mode: multiply;

            display: flex !important;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
        }

            .carouselImg{
                width: 60vw;
                height: 75vh;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: var(--bg);
                background-blend-mode: multiply;
            }

                .caraImgBorder {
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    border: 5px solid var(--bg);
                    width: calc(100% - 40px);
                    margin: 20px;
                    height: calc(100% - 40px);

                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                }

        .carouselDesc {
            width: 40vw;
            height: 75vh;
            background-color: var(--foil);
            text-align: center;
            display: flex !important;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            opacity: .5;
        }

            .caraDescBorder {
                /*border: 5px solid var(--bg);*/
                width: calc(100% - 50px);
                height: calc(100% - 50px);

                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: center;
            }

                .vertLine {
                    border-left: 5px solid var(--bg);
                    height: 7vh;
                    margin: 25px auto;
                }

                .caraTitle {
                    color: var(--bg);
                    max-width: 400px;
                    padding: 0 30px;
                }

                .caraButt {
                    border-color: var(--bg);
                    background-color: transparent;
                    box-shadow: 10px 10px 10px var(--villain);

                    color: var(--bg);
                    box-shadow: 0px 0px 0px var(--villain);
                    transition: box-shadow 0.5s ease;
                }
                .caraButt:hover {
                    border-color: var(--hero);
                    background-color: transparent;
                    box-shadow: 10px 10px 10px var(--villain);
                    color: var(--hero);

                    transition: all 0.5s ease;
                    --bounceDist: -3px;
                    animation: bounce 1s;
                    animation-fill-mode: forwards;
                }



        .slick-initialized .slick-slide {
            height: 75vh;
        }

        .slick-dots {
            text-align: center;
            margin-top: 5.5vh;
            padding: 0;
        }

        .slick-dots li {
            display: inline;
            margin: 0 2vw;
        }

        .slick-dots li button {
            font-size: 0;
            letter-spacing: 0px;
            color: orange ;

            width: 13px;
            height: 13px;
            background-color: var(--side);

            border-radius: 50%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-color: transparent;

            padding: 3px;
            transition: background-color 0.5s ease;
        }

        .slick-dots li button:hover {
            background-color: var(--hero) !important;
            transition: background-color 0.5s ease;
        }
        .slick-dots li button:focus {
            outline: none;
        }
            .slick-active > button {
                background-color: var(--villain) !important;
                transition: background-color 0.5s ease;
                animation: bounce 1s;
                -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
                animation-fill-mode: forwards;
            }

    #projectFlexBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
    }

        .projectContainer {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: center;

            background-color: var(--bg);
            margin: 25px 1%;
            width: 300px;

            box-shadow: 0px 0px 0px var(--side);
            transition: box-shadow 0.5s ease;

            cursor: pointer;
        }
        .projectContainer:hover {
            --bounceDist: -15px;
            animation: bounce 1s;
            animation-fill-mode: forwards;

            box-shadow: 15px 15px 15px var(--side);
            transition: box-shadow 0.5s ease;
        }

            .projectImg {
                width: 100%;
                height: 200px;
                background-color: MistyRose;

                background-repeat: no-repeat;

                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-position: center center;

                cursor: pointer;

                background-blend-mode: multiply;
            }

            .projectInfo {
                border: solid 5px var(--hero);
                border-top: none;
                width: 100%;

                /*put border inside div */
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

                .projectTitle {
                    color: var(--villain);
                    text-align: center;
                    padding: 7%;
                    margin: 0;
                    border-bottom: solid 5px var(--hero);
                    overflow: hidden;
                    white-space: nowrap;
                    text-transform: uppercase;
                }

                .projectExtra {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    align-content: center;

                }

                    .projectTags {
                        padding: 1% 10%;
                        /*border-right: solid 5px var(--detailColor2);*/
                        width: 100%;
                        overflow: hidden;

                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-around;
                        align-items: center;
                        align-content: center;
                    }

                        .projectTag {
                            display: block;
                            color: var(--hero);
                            font-family: "Nunito", sans-serif;
                            font-size: 9px;
                            font-weight: 700;
                        }
