@charset "utf-8";
/* CSS Document for the general formatting of every page and hold the css custom properties*/


/*Basic Page formatting*/
:root {

    /*Custom Properties for theme colors*/
    --plum: #3E0660;

    --ribbon: #F9CDD7;
    --rose: #FB96C9;
    --wine: #6F0356;

    --coral: #FCB7AC;
    --salmon: #FE5737;
    --tuna: #DA3637;

    --sky: #BFB0F7;
    --lake: #8679EA;
    --ocean: #592CEF;
    --abyss: #4F07AD;

    --mint: #EAFCE3;
    --aloe: #B1C3B3;
    --grass: #3F8906;
    --pine: #163005;

    --lemon: #FCD57E;
    --honey: #DB8407;

    --bg: var(--ribbon);
    --side: var(--rose);
    --hero: var(--salmon);
    --foil: var(--sky);
    --villain: var(--abyss);

    --navColor: var(--salmon);           /*Change on click in jquery */
    --hoverNavColor: var(--navColor); /*Change on hover in jquery*/

    --bounceDist: -15px;
}

html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 100%;
}

@keyframes spin {
    from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    to {
            -ms-transform: rotate(-360deg);
            -moz-transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
            -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
    }
}

@keyframes underline {
    from {
        -ms-transform: scale(0, 1);
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
    to {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}


@keyframes bounce {
    from {
        -ms-transform: translate(0px,0px); /* IE 9 */
        -moz-transform: translate(0px,0px);
        -webkit-transform: translate(0px, 0px); /* Safari */
        -o-transform: translate(0px,0px);
        transform: translate(0px, 0px);
    }
    to {
        -ms-transform: translate(0px, var(--bounceDist)); /* IE 9 */
        -moz-transform: translate(0px, var(--bounceDist));
        -webkit-transform: translate(0px, var(--bounceDist)); /* Safari */
        -o-transform: translate(0px, var(--bounceDist));
        transform: translate(0px, var(--bounceDist));
    }
}

@keyframes animateBG {
    from {
        background-position: 0 bottom;
    }
    to {
        background-position: 300px bottom;
    }
}

    ::-webkit-scrollbar {
        width: 5px;
    }


    ::-webkit-scrollbar-track {
        background: var(--side);
        opacity: 0.3;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--villain);
        border-radius: 10px;
        opacity: 0.3;
    }

    ::-webkit-scrollbar-thumb {
        opacity: 1;
    }

    *:focus {
        outline: none;

    }

    body {
        margin: 0;
        padding: 0;
        background-color: var(--bg);
        transition: background-color 1.5s ease;
        /*box-shadow: inset 0 0 250px 0px var(--side);*/
        box-shadow: inset 0 -125px 250px -100px var(--side);

    }
        #popUp {
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 10000;
            overflow-y: scroll;
        }

        #content {
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;

            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -webkit-box-direction: column;
            -moz-box-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;

            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

            #backItUp {
                width: 50px;
                height: 50px;
                background-color: var(--side);
                opacity: .75;
                border-radius: 50%;
                position: fixed;
                z-index: 50000;
                right: 50px;
                bottom: 175px;

                color: var(--bg);
                text-align: center;
                line-height: 53px;
                font-family: 'Nunito', sans-serif;
                font-size: 36px;
                font-weight: 900;

                -ms-transform: rotate(-90deg); /* IE 9 */
                -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
                transform: rotate(-90deg);

                transition: opacity 0.5s ease;
                display: none;
            }

            #backItUp:hover{
                opacity: 1;
                transition: opacity 0.5s ease;
            }

            header {
                background-color: rgba(255, 255, 255, 0.85);
                position: fixed;
                width: 100%;
                z-index: 10010;
            }

                nav {
                    z-index: 10011;
                }

                    nav ul {
                        margin: 0;
                        padding: 20px  15% 20px 0;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: row;
                        font-family: 'Nunito', sans-serif;
                        z-index: 10012;
                    }

                    nav ul li {
                        margin: 0 1% 0 1%;
                        padding: 3px 3px 5px 3px;
                        display: block;
                        z-index: 10013;
                    }

                        nav ul li a {
                            text-decoration: none;
                            color: var(--plum);
                            transition: color 1s ease;
                            font-weight: 800;
                        }

                        nav ul li #portNav:hover {
                            --hoverNavColor: var(--salmon);
                            color: var(--hoverNavColor);
                            transition: color 1s ease;
                        }

                        nav ul li #aboutNav:hover {
                            --hoverNavColor: var(--honey);
                            color: var(--hoverNavColor);
                            transition: color 1s ease;
                        }

                        nav ul li #resumeNav:hover {
                            --hoverNavColor: var(--grass);
                            color: var(--hoverNavColor);
                            transition: color 1s ease;
                        }

                    #activeNav::after {
                       content: '';
                       position: relative;
                       display: block;
                       margin: auto;
                       width: 75%;
                       height: 3px;
                       background-color: #3E0660;  /*backup color*/
                       background-color: var(--navColor);
                       bottom: -10px;

                       animation: underline .25s;
                       z-index: 1000;
                    }

                        #activeNav a {
                            color: var(--navColor);
                        }

            #contentWrapper{
                width: 100%;
            }

                #fillContent {
                    padding: 83px 0 0 0;
                    /*margin-bottom: 7%;*/
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%
                }

            footer {
                margin: 15% 5% 10px 5%;
                padding: 15px 0;
                /*background-color: orange;*/
                border-bottom: solid 3px var(--side);
                border-top: solid 3px var(--side);

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                align-content: center;

                width: 95%;
                height: auto;
            }


                #svgLogo {
                    height: 50px;
                    width: auto;
                    margin-left: 5%;
                    transition: all 4s ease-in-out;
                    cursor: help;
                }

                #svgLogo:active {
                    -ms-transform: rotate(-3600deg); /* IE 9 */
                    -webkit-transform: rotate(-3600deg); /* Safari */
                    transform: rotate(-3600deg);
                    transition: all 4s ease-in-out;
                }

                    .joshricLogo {
                        fill: var(--side);
                    }

                #socialMedia {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    align-content: center;
                    /*background-color: green;*/
                    margin-right: 3%;
                }


                    .socMedButt {
                        height: 25px;
                        width: auto;
                        margin: 5px 15px;
                        opacity: .50;
                        transition: all 0.5s ease;
                    }

                    .socMedButt:hover{
                        opacity: 1;
                        transition: all 0.5s ease;
                    }

                    #behance {
                        height: 20px;
                        width: auto;
                        padding-top: 3px;
                    }

                        .socMedButtFill {
                            fill: var(--side);
                        }

            .footerText {
                color: var(--side);
                font-family: "Nunito", sans-serif;
                font-weight: 600;
                font-size: 16px;

                margin: 10px 5% 15px 5%;
            }

                .footerText span {
                    font-weight: 100;
                    font-size: 12px;
                }

/*Basic text formatting sans color*/
h1 {}

h2 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 3px;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}

h3 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 3px;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

h4 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

h5 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.25px;
    font-size: 16px;
    font-weight: 800;
}

h6 {
    font-family: "Nunito", sans-serif;
    /*text-transform: uppercase;*/
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

p {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 32px;
}

p b {
    /*font-size: 14px;*/
    font-weight: 800;
}

a {
    color: var(--hero);
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    text-decoration: none;
}

a:hover {}

button {
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid white;
    border-radius:  7px;
    padding: 10px 15px;
    font-family: 'Nunito', sans-serif;
    color: var(--side);
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
    opacity: .85;
    transition: opacity 0.5s ease;
    transition: background-color 0.5s ease;
    transition: color 0.2s ease;
}

button:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    /*transition: opacity 0.5s ease;
    transition: background-color 0.5s ease;*/
    color: var(--hero);
    /*transition: color 0.2s ease;*/

    transition: all 0.2s ease;
}
