@charset "utf-8";
/* CSS Document for the styling based on media queries */


/*/////////////////////////MAX-WIDTH 500PX/////////////////////////*/

    @media screen and (min-width: 320.1px) and (max-width: 500px) {

    /*------------------------ MAIN.CSS ------------------------*/

        #backItUp {
            bottom: 3vh;
            right: 3vw;
        }

        header {
            bottom: 0;
        }

            nav ul {
                padding-right: 0;
                justify-content: center;
            }

        #fillContent {
            padding: 0;
        }

        footer {
            width: 90vw;
        }

        .footerText {
            margin-bottom: 18vh;
        }

    /*------------------------ INDEX.CSS ------------------------*/
            #slideshow {
                height: 75vh;
                /*margin-bottom: 4px;*/
            }

                #slideshowImg {
                }

    /*------------------------ ABOUT.CSS ------------------------*/

                #media .intList li {
                    font-size: 12px;
                    letter-spacing: 0;
                    display: inline-block;
                    margin: 0 3vw 0 0;
                }



    /*------------------------ RESUME.CSS ------------------------*/

            #resumeHeadImg {
                order: -2;
            }
                #education {
                    margin-top: 15px;
                }

                .resumeInfo h4 {
                    text-align: center;
                }

                .resumeInfo h6 {
                    font-size: 12px;
                    font-weight: 800;
                }

            #whatCanIDo {
                width: 85vw;
            }

                #whatCanIDo h3 {
                    text-align: center;
                    font-size: 24px;
                    letter-spacing: normal;
                }

            #expAchi {
                padding: 40px 0;
            }

                #expertise {
                    width: 100vw;
                    padding: 2vh 0;
                }

                    #expBarWrap {
                        padding: 2vh 0;
                        justify-content: center;
                        min-width: 0;
                        width: 98vw;
                    }

                        .expDet {

                        }

                            .expTitle {
                                font-size: 10px;
                            }

                            .expBarBG {
                                width: 40vw;
                            }

                        .expDet {
                            margin: 5px 3vw;
                        }

                #achievements {
                    margin-left: 0;
                }

            #resumePDFA {
                order: -1;
                margin-top: 10px;
            }
    /*------------------------ PROJECT.CSS ------------------------*/

            #projEnvelope {
                flex-direction: column;
                align-items: center;
            }

                #projImgs {
                    padding: 15vh 0 5vh 0;
                    width: 75vw;

                }

                    .projImg {
                        width: 100%;
                        height: auto;
                    }

                #projSide {
                    left: 0;
                    right: 0;
                    bottom: 0;

                    width: 100vw;
                    height: auto;
                    padding: 0 0vw 15vh 0vw;
                    position: static;
                }

                    #exitProj {
                        margin: 15px 25px 15px 0px;
                        font-size: 22px;
                        color: var(--emphasisColor);
                    }

                    #projDets {
                        width: 85%;
                        height: auto;
                    }

                        #projDetTop {
                            height: 85px;
                        }

                            #projDesc {
                                overflow:visible;
                            }

    } /*END MAX-WIDTH 500PX*/

/*/////////////////////////MAX-WIDTH 320PX/////////////////////////*/

    @media screen and (max-width: 320px) {

    /*------------------------ MAIN.CSS ------------------------*/

        #backItUp {
            bottom: 3vh;
            right: 3vw;
            width: 40px;
            height: 40px;
            font-size: 30px;
            line-height: 43px;
        }

        header {
            bottom: 0;
        }

            nav ul {
                padding: 15px 15px 15px 0;
                justify-content: center;
            }

                    nav ul li a {
                        font-size: 14px;
                    }

        #fillContent {
            padding: 0;
        }

        footer {

        }

            #svgLogo {
                display: none;
            }

            #socialMedia {
                margin: auto;
            }
        .footerText {
            margin-bottom: 15vh;
            font-size: 12px;
        }

    /*------------------------ INDEX.CSS ------------------------*/
            #slideshow {
                height: 75vh;
                /*margin-bottom: 4px;*/
            }

                #slideshowImg {
                }

    /*------------------------ ABOUT.CSS ------------------------*/
            #introduction{}

                #circleWords {
                    min-width: 60vw;
                }

                #aboutMe {
                    font-size: 0;
                    visibility: hidden;
                    line-height: 0;
                    /*height: 0;*/
                }
                #aboutMe::before {
                    font-size: 12px;
                    font-weight: 800;
                    content: "Hello! The screen you're viewing this on is small, so I'll make this brief: My name is Joshric and I'm a Filipino-American graphic designer. A graduate from UC San Diego, I've had the pleasure of working at a design studio for more than a few years! Get a hold of me if you ever need some work done :)";
                    visibility: visible;
                    line-height: 32px;

                }

                #interestFlex {
                    width: 95vw;
                    justify-content: flex-start;
                    padding: 0;
                }

                    .intFlexChild {
                        margin: 10px 5vw 10px 8vw;
                    }

                        .intTitle {
                            margin: 0;
                        }

                        .intList {}

                            .intList li {
                                font-size: 12px;
                                letter-spacing: 0;
                                display: inline-block;
                                margin: 0 3vw 0 0;
                            }

            #contactWrapper {
                width: 90vw;
            }
                #contactDesc {
                    display: none;
                }

                #contactInfo{}

                    #contactImp {
                        width: 85%;
                        padding: 2vh 0;
                    }
    /*------------------------ RESUME.CSS ------------------------*/

            #resumeHeadImg {
                order: -2;
            }
                #education {
                    margin-top: 15px;
                }

                .resumeInfo {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-wrap: nowrap;
                    align-content: center;
                }

                    .resumeBullet {
                        margin: 2vh 0;
                    }

                        .resumeTitle {
                            margin-left: 5vw;
                        }

                    .resumeInfo h4 {
                        text-align: center;
                    }

                    .resumeInfo h6 {
                        font-size: 10px;
                        font-weight: 600;
                    }

                        .resumeDesc {
                            font-size: 12px;
                            letter-spacing: 0;
                            margin: 0 0 0 2vw;
                            margin: auto;
                            width: 80%;
                        }

                #whatCanIDo {
                    width: 85vw;
                }

                    #whatCanIDo h3 {
                        text-align: center;
                        font-size: 20px;
                        letter-spacing: normal;
                    }

                    #abilityFlex {
                        /*flex-direction: column;
                        align-items: center;*/
                    }

                        .ability {
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            margin: 3vh 0;
                            width: 40%;
                            min-width: 0;
                        }

                            .abilityImg {
                                margin-bottom: 3vh;
                            }

                            .abilityInfo {
                                margin: 0;
                            }

                                .abilityTitle {
                                    text-align: center;
                                    font-size: 12px;
                                }

                                .abilityDesc {
                                    text-align: center;
                                    display: none;
                                }



                #expAchi {
                    padding: 40px 0;
                }

                    #expertise {
                        width: 100vw;
                        padding: 2vh 0;
                    }

                        #expBarWrap {
                            padding: 2vh 0;
                            justify-content: center;
                            min-width: 0;
                            width: 98vw;
                        }

                            .expDet {
                                margin: 5px 3vw;
                            }

                                .expTitle{
                                    font-size: 10px;
                                }

                                .expBarBG {
                                    width: 35vw;
                                }

                #achievements {
                    margin-left: 0;
                }

            #resumePDFA {
                order: -1;
                margin-top: 10px;
            }
    /*------------------------ PROJECT.CSS ------------------------*/

            #projEnvelope {
                flex-direction: column;
                align-items: center;
            }

                #projImgs {
                    padding: 15vh 0 5vh 0;
                    width: 75vw;

                }

                    .projImg {
                        width: 100%;
                        height: auto;
                    }

                #projSide {
                    left: 0;
                    right: 0;
                    bottom: 0;

                    width: 100vw;
                    height: auto;
                    padding: 0 0vw 15vh 0vw;
                    position: static;
                }

                    #exitProj {
                        margin: 15px 25px 15px 0px;
                        font-size: 22px;
                        color: var(--emphasisColor);
                    }

                    #projDets {
                        width: 85%;
                        height: auto;
                    }

                        #projDetTop {
                            height: 85px;
                        }

                            #projDesc {
                                /*overflow:visible;*/
                                max-height: none;
                                font-size: 12px;
                            }

                            #projTags {
                                display: none;
                            }

    }  /*END MAX-WIDTH 350PX*/
