@charset "utf-8";
/*CSS Document for About styling*/


#projectsTheme {
    --bg: var(--ribbon);
    --side: var(--rose);
    --hero: var(--salmon);
    --foil: var(--sky);
    --villain: var(--abyss);

    --navColor: var(--salmon);           /*Change on click in jquery */
    --hoverNavColor: var(--navColor); /*Change on hover in jquery*/
}


    #imgModal {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;

        z-index: 10050;
        cursor: zoom-out;
    }

        #modalImg {
            /*width: 75vw;
            max-width: 900px;
            height: auto;*/
            height: 75vh;
            max-height: 700px;
            width: auto;
            padding-top: 3vh;
            flex-grow: 2;
        }

        #modalDesc {
            flex-grow: 1;
            color: white;
            font-size: 14px;
            margin-bottom: 5%;
        }

    #projEnvelope {
        height: 100%;
        width: 100%;
        background: var(--bg);

        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        margin: 0;
        padding: 0;
    }

        #projImgs {
            width: 60%;
            height: 100%;
            padding-bottom: 200px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            align-content: center;
        }

            #projImgs img {
                /*height: 300px;
                width: 200px;*/
                width: 95%;
                max-width: 700px;
                height: auto;
                margin-bottom: 25px;


                cursor: zoom-in;
            }

        #projSide {
            width: 34%;
            height: 100%;
            background-color: var(--foil);
            padding: 50px 3%;

            position: fixed;
            left: 0;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: flex-end;

        }

            #exitProj {
                /*color: var(--detailColor1);*/
                color: white;
                text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
                opacity: .8;
                transition: all 0.5s ease;
                margin-bottom: 50px;
                align-self: flex-end;;
                font-weight: 900;
                letter-spacing: 2px;

                position: fixed;
                right: 5%;
                top: calc( 83px + 5%);
            }

            #exitProj:hover {
                color: var(--plum);
                opacity: 1;
                text-shadow: 0px 0px 7px rgba(255, 255, 255, 1);

                transition: all 0.5s ease;
            }

            #projDets {
                /*margin-top: 250px;*/
                border: solid 5px var(--villain);
                width:  95%;
                height: 75%;

                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-content: center;
                align-items: center;
            }

                #projDetTop {
                    border-bottom: solid 5px var(--villain);
                    width: 100%;
                    min-height: 65px;
                    max-height: 125px;
                    background-color: var(--villain);

                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: stretch;
                    align-content: stretch;
                    flex-grow: 1;
                }

                    #projTitle {
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 65%;

                        padding: 0 4%;
                        flex-grow: 2;
                    }

                        #projTitle h5 {
                            margin: 0;
                            /*height: 100%;*/

                            text-align: center;
                            color: var(--foil);
                        }


                    #projDate {
                        height: auto;
                        width: 35%;
                        /*min-width: 90px;*/
                        max-width: 104px;
                        background-color: var(--foil);
                        display: inline-block;

                        border-left: solid 5px var(--villain);

                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                    }

                        #projDate h6 {
                            margin: 0;
                            color: var(--bg);
                            text-align: center;
                        }

                        #projDate p {
                            margin: 0;
                            font-size: 10px;

                            color: var(--bg);
                            line-height: 10px;
                            letter-spacing: 2px;
                            /*font-weight: 800;*/
                            text-align: center;
                            margin-right: -2px;
                        }

                #projDetMid {
                    /*background-color: pink;*/
                    /*padding: 15px 5%;*/
                    width: 100%;
                    /*border-bottom: solid 5px var(--detailColor1);*/
                    flex-grow: 2;

                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-content: center;
                    align-items: : center;
                }

                    #projDesc {
                        color: var(--villain);
                        padding: 0 8%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        max-height: 250px;
                        display: inline-block;
                        font-size: 12px;
                        font-weight: 700;
                    }

                    #projTags {
                        list-style: none;
                        font-family: "Nunito", sans-serif;
                        font-weight: 700;
                        font-size: 11px;
                        letter-spacing: 1px;
                        line-height: 24px;
                        text-transform: uppercase;
                        text-align: center;
                        padding: 15px 8%;
                        margin: 0;
                        color: var(--bg);
                    }

                        #projTags li {
                            display: inline-block;
                            margin: 0 1.5%;
                        }

                #projDetBott {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    flex-grow: 1;


                    padding-bottom: 25px;
                    width: 100%;

                }

                    #prevProj {}

                    #behanceButt {
                        background-color: var(--foil);
                        /*border: 3px solid var(--detailColor2);*/
                        border-color: var(--bg);
                        box-shadow: 0px 0px 0px var(--villain);
                        color: var(--bg);
                        transition: box-shadow 0.5s ease;
                        margin: 15px auto;

                        font-size: 10px;
                    }

                    #behanceButt:hover {
                        box-shadow: 10px 10px 10px var(--villain);
                        border-color: var(--hero);
                        color: var(--hero);
                        transition: all 0.5s ease;
                        --bounceDist: -3px;
                        animation: bounce 1s;
                        animation-fill-mode: forwards;
                    }
                    #nextProj {}


.projFoot {
    display:none;
}

.projFootText {
    display:none;
}
