@charset "utf-8";
/*CSS Document for Resume styling*/

#resumeTheme {
    --bg: var(--mint);
    --side: var(--aloe);
    --hero: var(--pine);
    --foil: var(--rose);
    --villain: var(--tuna);

    --navColor: var(--grass);
    --hoverNavColor: var(--navColor);
}


    #whatCanIDo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;

        /*border: solid 5px var(--foil);*/
        background-color: var(--hero);

        width: 100%;
        height: 75vh;
        min-height: 580px;

        /*max-width: 1100px;*/
    }

        #whatCanIDo h2 {
            /*color: var(--emphasisColor);*/
            /*border-bottom: solid 5px var(--detailColor2);*/
            width: 90%;
            padding: 25px 0;
            margin: 3vh auto 0 auto;
            /*background-color: var(--foil);*/
            color: var(--bg);

            text-align: center;
        }

        #abilityFlex {
            /*border-top: solid 5px var(--foil);*/
            width: 100%;
            padding: 50px 0;

            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;
        }

            .ability {
                width: 25%;
                min-width: 230px;
                margin: 25px 15px 45px 35px;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: flex-start;

            }

                .abilityImg {
                    width: 75px;
                    height: auto;
                    /*background-color: gray;*/

                }

                .abilityInfo {
                    margin-left: 20px;
                }

                    .abilityTitle {
                        color: var(--villain);
                        margin: 0 0 3px 0;
                    }

                    .abilityDesc {
                        color: var(--foil);
                        margin-top: 0;
                        max-width: 330px;
                        font-size: 12px;
                        line-height: 24px;
                    }

    #resumeHeadImg {
        width: 100%;
        height: 300px;
        background-image: url('../img/joshric_resumePattern_17Oct24.png');
        background-repeat: repeat;
        background-size: 300px 300px;
        background-position: 0px bottom;
        animation: animateBG 10s linear infinite;

        -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
        animation-play-state: paused;
        animation-delay: 5s;

    }

    #eduAchiWork {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;

        width: 97vw;
        margin: 5vh 1vw 0 1vw;
    }

        #eduAchi {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: flex-start;

            /*width: 50%;*/
            max-width: 500px;
        }

        #education, #workXP, #achievements {
            min-width: 300px;
            max-width: 500px;
            margin: 2vh 2vw;
            height: auto;
        }

            .resumeInfo h4 {
                color: var(--villain);
                margin: 5px;
                /*text-transform: uppercase;*/
            }

            .resumeBullet {
                margin: 20px 15px 15px 7px;
            }

                .resumeTitle {
                    margin: 2px 0;
                    color: var(--hero);
                }

                .resumeDesc {
                    color: var(--side);
                    margin: 5px 10px;
                    line-height: 20px;
                }

                    .resumeDesc b {
                        color: var(--villain);
                    }



        #expertise {
            max-width: 850px;
            width: 86vw;
            margin: 5vh 12vw 0 12vw;
        }

            #expertise h4 {
                text-align: center;
            }

            #expBarWrap {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: space-around;
                align-items: center;

                padding: 10px;
                min-width: 400px;
            }

                .expDet {
                    margin: 5px 25px 5px 5px;;
                }

                    .expTitle {
                        color: var(--hero)
                    }

                    .expBarBG {
                        height: 6px;
                        width: 150px;
                        background-color: var(--foil);
                    }

                        .expBar {
                            height: 99%;
                            background-color: var(--villain);
                            transform-origin: left;
                        }

    #resumePDF {
        background-color: var(--bg);
        /*border: 3px solid var(--detailColor2);*/
        border-color: var(--side);
        box-shadow: 0px 0px 0px var(--side);
        transition: box-shadow 0.5s ease;
        margin: 15vh auto 25px auto;
    }

    #resumePDF:hover {
        box-shadow: 10px 10px 10px var(--side);
        border-color: var(--villain);
        color: var(--villain);
        transition: all 0.5s ease;
        --bounceDist: -3px;
        animation: bounce 1s;
        animation-fill-mode: forwards;
    }
