@charset "utf-8";
/*CSS Document for Resume styling*/

#resumeTheme {
    --bg: var(--mint);
    --side: var(--aloe);
    --hero: var(--pine);
    --foil: var(--ribbon);
    --villain: var(--tuna);

    --navColor: var(--grass);
    --hoverNavColor: var(--navColor);
}

    #resumeHeadImg {
        width: 100%;
        height: 300px;
        background-image: url('../img/joshric_resumePattern_17Oct24.png');
        background-repeat: repeat;
        background-size: 300px 300px;
        background-position: 0px bottom;
        animation: animateBG 10s linear infinite;
    }

    #eduWork {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;

        width: 100%;
        max-width: 1100px;
        /*height: 400px;*/
    }

        #education, #workXP {
            width: 40%;
            min-width: 300px;
            max-width: 500px;
            margin: 1%;
            padding: 2%;
            height: auto;
        }

            .resumeInfo h4 {
                color: var(--villain);
                margin: 5px;
                /*text-transform: uppercase;*/
            }

            .resumeBullet {
                margin: 20px 15px 15px 7px;
            }

                .resumeTitle {
                    margin: 2px 0;
                    color: var(--hero);
                }

                .resumeDesc {
                    color: var(--side);
                    margin: 5px 10px;
                    line-height: 20px;
                }

                    .resumeDesc b {
                        color: var(--foil);
                    }

    #whatCanIDo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;

        border: solid 5px var(--foil);

        width: 95%;
        max-width: 1100px;

    }

        #whatCanIDo h3 {
            /*color: var(--emphasisColor);*/
            /*border-bottom: solid 5px var(--detailColor2);*/
            width: 85%;
            padding: 25px 0  25px 15%;
            margin: 0;
            background-color: var(--foil);
            color: var(--bg);

            /*text-align: right;*/
        }

        #abilityFlex {
            border-top: solid 5px var(--foil);
            width: 100%;
            padding: 50px 0;

            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;
        }

            .ability {
                width: 25%;
                min-width: 230px;
                margin: 25px 15px 45px 35px;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: flex-start;
            }

                .abilityImg {
                    width: 75px;
                    height: auto;
                    /*background-color: gray;*/

                }

                .abilityInfo {
                    margin-left: 20px;
                }

                    .abilityTitle {
                        color: var(--hero);
                        margin: 0 0 3px 0;
                    }

                    .abilityDesc {
                        color: var(--side);
                        margin-top: 0;
                        max-width: 330px;
                        font-size: 12px;
                        line-height: 24px;
                    }
    #expAchi {
        width: 95%;
        padding: 40px 10px 0 10px;

        /*background-color: orange;*/

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
    }

        #expertise {
            width: 55%;
            max-width: 850px;
            margin-bottom: 75px;
        }

            #expBarWrap {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: space-around;
                align-items: center;

                padding: 10px;
                min-width: 400px;
            }

                .expDet {
                    margin: 5px 25px 5px 5px;;
                }

                    .expTitle {
                        color: var(--side)
                    }

                    .expBarBG {
                        height: 6px;
                        width: 150px;
                        background-color: var(--side);
                    }

                        .expBar {
                            height: 99%;
                            background-color: var(--villain);
                            transform-origin: left;
                        }



            #achievements {
            }

    #resumePDF {
        background-color: var(--bg);
        /*border: 3px solid var(--detailColor2);*/
        border-color: var(--side);
        box-shadow: 0px 0px 0px var(--side);
        transition: box-shadow 0.5s ease;
        margin: 75px auto 25px auto;
    }

    #resumePDF:hover {
        box-shadow: 10px 10px 10px var(--hero);
        border-color: var(--hero);
        transition: all 0.5s ease;
        --bounceDist: -3px;
        animation: bounce 1s;
        animation-fill-mode: forwards;
    }
